<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Loan</title>
</head>
<body align="center">
<h4>Enter fields below</h4>
<form action="/loan" method="post">
    Loan Amount:<br>
    <input type="text" name="loan_amount"><br>
    Interest Rate:<br>
    <input type="text" name="interest_rate"><br>
    Term (Months):<br>
    <input type="text" name="term"><br>
    Loan name (Months):<br>
    <input type="text" name="name"><br>
    <input type="submit" value={{button_value}}><br>
</form>
</body>
</html>